# Created by Alberto Drake | GitHub: https://github.com/albertodrake
BOT_TOKEN=your_bot_token_here
CLIENT_ID=your_client_id_here
LOG_WEBHOOK_URL=your_discord_webhook_url_here
DATABASE_URL="file:./dev.db"
PREFIX=/
